#options-menu {
/*  border: 2px  solid #000;*/
  background-color: #DDD;
/*  position:absolute;*/
/*  height:100%;*/
}

#top_panel {
/*  border: 2px solid #D00;*/
  background-color: #F55;
  position:absolute;
  height: 14%;;
  width: 100%;
  left: 0;
  top: 0;
}

#left_panel {
/*  border: 2px solid #00C;*/
  background-color: #88F;
  position:absolute;
  height: 76%;
  width: 20%;
  left: 0;
  top: 14%;
}

#center_panel {
/*  border: 2px solid #0D0;*/
  background-color: #5F5;
  position:absolute;
  height: 76%;
  width:60%;
  left: 20%;
  top: 14%;
}

#rigth_panel {
/*  border: 2px solid #DD0;*/
  background-color: #FF5;
  position:absolute;
  height: 76%;
  width: 20%;
  left: 80%;
  top: 14%;
}

#bottom_panel {
/*  border: 2px solid #0EE;*/
  background-color: #5FF;
  position:absolute;
  height: 10%;
  width: 100%;
  left: 0;
  top: 90%;
}
